*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

/* -------------------------------header section ---------------------------------------------------------*/
.container  {
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background:#0000CD;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.intro-text{
    margin-top: 20%;
    font-size: 30px;
}

.intro-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.intro-text h1 span{
    color: #0000CD;
}

/* -------------------------------About section ---------------------------------------------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.general-intro{
    flex-basis: 45%
}

.subtitle{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.q-column{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.qualification-links{
    flex-basis: 50%;
    margin: 20px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.q-links{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color:#fff;
    position: relative
}

.q-links::after{
    content:"";
    width: 0;
    height: 3px;
    background: #0000CD;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.q-links.active-link::after{
    width: 75%;
}

.q-content ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.q-content{
    display: none;
}

.q-content.active-content{
    display:block;
}

